<%- include('./layout/header', {title: "Home"}) -%>

<div class="body container">
  <!-- navbar -->
  <%- include('./layout/navbar') -%>
  <!-- end navbar -->
  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="container">
      <div class="row d-flex">
        <div class="col-lg-4 d-flex justify-content-center"><img class="foto-profil" src="/images/foto profil.jpg" alt="foto-profil" /></div>
        <div class="col-lg-8 lg-mt-4 data-diri">
          <p>Nama : Singgih Wahyu Permana</p>
          <p>Tempat, Tanggal Lahir : Malang, 22 Oktober 2005</p>
          <p>Sekolah : SMAN 1 Kepanjen</p>
          <p>Alamat : Kab. Malang, Jawa Timur, Indonesia</p>
          <p>Motto : Hidup Seperti Larry</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end jumbotron -->

  <!-- about -->
  <div class="about-me" id="about-me">
    <div class="row text-center">
      <div class="col"><h1>About Me</h1></div>
    </div>
    <div class="row mt-4 d-flex justify-content-around">
      <div class="col-lg-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, sint? Odit ad perferendis maiores ut mollitia. Adipisci, ipsum vel facilis animi
        amet incidunt autem velit explicabo, nihil alias assumenda omnis!
      </div>
      <div class="col-lg-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, sint? Odit ad perferendis maiores ut mollitia. Adipisci, ipsum vel facilis animi
        amet incidunt autem velit explicabo, nihil alias assumenda omnis!
      </div>
    </div>
  </div>
  <!-- end about -->

  <!-- footer -->
  <%- include('./layout/footsection') -%>
  <!-- end footer -->
</div>

<%- include('./layout/footer') -%>
